.zmienKolor {
    color: red;
}

.fontPlus{
    font-size: 22px;
}

.fontMinus{
    font-size: 12px;
}
#tooltip{
    display: none;
    background-color: teal;
    position: absolute;
    width:  150;
    height: 70;
}